<ion-header>
  <ion-navbar>
    <ion-title>Persona</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right edge>
    <button ion-fab color="primary">
      <ion-icon name="person"></ion-icon>
    </button>
    <ion-fab-list side="bottom">
      <button ion-fab color="secondary" 
              (click)="savePersona()"
      > 
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
      <button ion-fab color="danger"
              (click)="deletePersona()"
      >
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid>
    <form [formGroup]="forms">
      <!-- Open Header Part -->
      <card-persona label="Cabeçalho" [points]="totalPoints.all">
        <ion-row>
          <ion-col col-12 col-ms-4 col-md-4 col-lg-4 col-xl-4>
            <name-persona formControlName="nome"></name-persona>
          </ion-col>
          <ion-col col-12 col-ms-4 col-md-4 col-lg-4 col-xl-4>
            <np-persona formControlName="np"></np-persona>
          </ion-col>
          <ion-col col-12 col-ms-4 col-md-4 col-lg-4 col-xl-4>
            <pp-persona [ppTotal]="totalPoints.all"></pp-persona>
          </ion-col>
        </ion-row>
      </card-persona>
      <!-- Close Header Part -->
      <!-- Open Ability Part -->
      <ion-card>
        <ion-list>
          <ion-list-header (click)="ability.hidden = !ability.hidden" text-center>
            <a>Habilidades({{totalPoints.ability}}pp)</a>
          </ion-list-header>
          <ion-row #ability>
            <ion-col col-6 col-ms-6 col-md-4 col-lg-4 col-xl-2
                      *ngFor="let abilityKey of abilityKeys">
              <ability-persona  [label]="abilityKey.label" 
                                formControlName="{{abilityKey.name}}">
              </ability-persona>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-card>
      <!-- Close Ability Part -->
      <!-- Open Combat Part -->
      <ion-row>
        <ion-col col-12 col-ms-12 col-md-12 col-lg-6 col-xl-6>
          <card-persona label="Combate" [points]="totalPoints.combat">
            <ion-row>
              <ion-col  col-12 col-ms-6 col-md-6 col-lg-6 col-xl-6 
                        *ngFor="let combatKey of combatKeys">
                <attribute-persona  [label]="combatKey.label" 
                                    formControlName="{{combatKey.name}}">
                  ({{bonusPoints[combatKey.name]|truncateNumber}})
                </attribute-persona>
              </ion-col>
            </ion-row>
          </card-persona>
        </ion-col>
      <!-- Close Combat Part -->
      <!-- Open Salving Part -->
        <ion-col col-12 col-ms-12 col-md-12 col-lg-6 col-xl-6>
          <card-persona label="Salvamentos" [points]="totalPoints.saving">
            <ion-row>
              <ion-col  col-12 col-ms-6 col-md-6 col-lg-6 col-xl-6
                        *ngFor="let savingKey of savingKeys">
                <attribute-persona  [label]="savingKey.label" 
                                    formControlName="{{savingKey.name}}">
                  ({{bonusPoints[savingKey.name]|truncateNumber}})
                </attribute-persona>
              </ion-col>
            </ion-row>
          </card-persona>
        </ion-col>
      </ion-row>
      <!-- Close Saving Part -->
    </form>
    <form-debug [form]="forms"></form-debug>
    <info-debug [obj]="ability.hidden"></info-debug>
  </ion-grid>
</ion-content>
