<ion-header>
  <ion-navbar>
    <ion-title>Persona</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right edge>
    <button ion-fab color="primary">
      <ion-icon name="person"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab color="danger" 
              (click)="createPersonaPDF()"
      > 
        PDF
      </button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <button ion-fab color="secondary" 
              (click)="savePersona()"
      > 
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
      <button ion-fab color="primary" 
              (click)="presentModalPersona()"
      > 
        <ion-icon name="book"></ion-icon>
      </button>
      <button ion-fab color="danger"
              (click)="deletePersona()"
      >
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid>
    <form [formGroup]="forms">
      <ion-row>
        <!-- Open Header Part -->
        <ion-col col-12>
          <card-persona label="Cabeçalho" [points]="persona.totalPoints.all">
            <ion-row>
              <ion-col col-12 col-ms-4 col-md-4 col-lg-4 col-xl-4>
                <ion-item>
                  <ion-label>Persona Nome</ion-label>
                  <ion-input formControlName="nome" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-12 col-ms-4 col-md-4 col-lg-4 col-xl-4>
                <np-persona formControlName="np"></np-persona>
              </ion-col>
              <ion-col col-12 col-ms-4 col-md-4 col-lg-4 col-xl-4>
                <ion-item>
                  <ion-label>Total de pontos</ion-label>
                  <ion-input type="text" [value]="persona.totalPoints.all" readonly></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </card-persona>
        </ion-col>
        <!-- Close Header Part -->
        <!-- Open Habilidade Part -->
        <ion-col col-12>
          <card-persona label="Habilidades" [points]="persona.totalPoints.habilidade">
            <ion-row>
              <ion-col  col-6 col-ms-6 col-md-4 col-lg-4 col-xl-2
                        *ngFor="let abilityKey of persona.abilityKeys">
                <ability-persona  [label]="abilityKey.label" 
                                  formControlName="{{abilityKey.name}}">
                </ability-persona>
              </ion-col>
            </ion-row>
          </card-persona>
        </ion-col>
        <!-- Close Habilidade Part -->
        <!-- Open Combate Part -->
        <ion-col col-12 col-ms-12 col-md-12 col-lg-6 col-xl-6>
          <card-persona label="Combate" [points]="persona.totalPoints.combate">
            <ion-row>
              <ion-col  col-12 col-ms-6 col-md-6 col-lg-6 col-xl-6 
                        *ngFor="let combatKey of persona.combatKeys">
                <attribute-persona  [label]="combatKey.label"
                                    formControlName="{{combatKey.name}}">
                  ({{persona.bonusPoints[combatKey.name]|truncateNumber}})
                </attribute-persona>
              </ion-col>
            </ion-row>
          </card-persona>
        </ion-col>
        <!-- Close Combate Part -->
        <!-- Open Salvamento Part -->
        <ion-col col-12 col-ms-12 col-md-12 col-lg-6 col-xl-6>
          <card-persona label="Salvamentos" [points]="persona.totalPoints.salvamento">
            <ion-row>
              <ion-col  col-12 col-ms-6 col-md-6 col-lg-6 col-xl-6
                        *ngFor="let savingKey of persona.savingKeys">
                <attribute-persona  [label]="savingKey.label" 
                                    formControlName="{{savingKey.name}}">
                  ({{persona.bonusPoints[savingKey.name]|truncateNumber}})
                </attribute-persona>
              </ion-col>
            </ion-row>
          </card-persona>
        </ion-col>
        <!-- Close Salvamento Part -->
        <!-- Open Poder Part -->
        <ion-col col-12>
          <card-persona label="Poderes" [points]="persona.totalPoints.poder">
            <dinamic-list-power formControlName="poderes">    
            </dinamic-list-power>
          </card-persona>
        </ion-col>
        <!-- Close Poder Part -->        
        <!-- Open Feito Part -->
        <ion-col col-12 col-ms-12 col-md-12 col-lg-6 col-xl-6>
          <card-persona label="Feitos" [points]="persona.totalPoints.feito">
            <dinamic-list-persona itemsType="feitos"
                                  formControlName="feitos"
            >
            </dinamic-list-persona>
          </card-persona>
        </ion-col>
        <!-- Close Feito Part -->
        <!-- Open Pericia Part -->
        <ion-col col-12 col-ms-12 col-md-12 col-lg-6 col-xl-6>
          <card-persona label="Pericias" [points]="persona.totalPoints.pericia">
            <dinamic-list-persona itemsType="pericias"
                                  [bonus]="persona.bonusPoints"
                                  formControlName="pericias"
            >
            </dinamic-list-persona>
          </card-persona>
        </ion-col>
        <!-- Close Pericia Part -->
        <!-- Open Desvantagem Part -->
        <ion-col col-12 col-ms-12 col-md-12 col-lg-6 col-xl-6>
          <card-persona label="Desvantagens" [points]="(persona.totalPoints.desvantagem * -1)">
            <dinamic-list-persona itemsType="desvantagens"
                                  formControlName="desvantagens"
            >
            </dinamic-list-persona>
          </card-persona>
        </ion-col>
        <!-- Close Desvantagem Part -->        
      </ion-row>
      <!--form-debug [form]="forms"></form-debug-->
      <!--info-debug [obj]="forms.value.poderes"></info-debug-->
    </form>      
  </ion-grid>
</ion-content>
