<ion-header>
    <ion-toolbar>
        <ion-buttons right>
          <a ion-button (click)="close()">fechar</a>
        </ion-buttons>
        <ion-title>{{ persona.nome }}</ion-title> 
    </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ persona.nome}}</ion-card-title>
      Nível de campanha: {{ persona.np }}
      <br>
      Total de pontos: {{ persona.totalPoints.all }}pp
    </ion-card-header>
    <ion-card-content>

      <ion-card>
        <ion-card-header>
          Habilidades {{ persona.totalPoints.habilidade }}pp
        </ion-card-header>
        <ion-card-content>
          <ion-chip *ngFor="let abilityKey of persona.abilityKeys">
            <ion-label>
              {{ abilityKey.label }} {{ persona[abilityKey.name] }}
              ({{ persona.bonusPoints[abilityKey.name]|truncateNumber }})
            </ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Combate {{ persona.totalPoints.combate }}pp
        </ion-card-header>
        <ion-card-content>
          <ion-chip *ngFor="let combatKey of persona.combatKeys">
            <ion-label>
              {{ combatKey.label }} ({{ persona.bonusPoints[combatKey.name]|truncateNumber }}) 
              {{ persona[combatKey.name] }}pp
            </ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Salvamentos {{ persona.totalPoints.salvamento }}pp
        </ion-card-header>
        <ion-card-content>
          <ion-chip *ngFor="let savingKey of persona.savingKeys">
            <ion-label>
              {{ savingKey.label }} ({{ persona.bonusPoints[savingKey.name]|truncateNumber }}) 
              {{ persona[savingKey.name] }}pp
            </ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card> 

      <ion-card>
        <ion-card-header>
          Poderes {{ persona.totalPoints.poder }}pp
        </ion-card-header>
        <ion-card-content>
          <span *ngFor="let poder of persona.poderes">
            <ion-chip>
              <ion-label>{{ poder.nome }} {{ poder.graduacao }}</ion-label>
            </ion-chip>
            (<b>Extras:</b> <span *ngFor="let extra of poder.extras">
              {{ extra.nome }} +{{ extra.modificador }},
            </span>
            <b>Falhas:</b> <span *ngFor="let falha of poder.falhas">
              {{ falha.nome }} -{{ falha.modificador }},
            </span>
            <b>Feitos de poder:</b> <span *ngFor="let opcao of poder.opcoes">
              {{ opcao.nome }} {{ opcao.modificador }},
            </span>
            <b>Poderes Alternativos:</b> <span *ngFor="let poderAlternativo of poder.poderes_alternativos">
              {{ poderAlternativo.nome }} {{ poderAlternativo.modificador }},
            </span>)
          </span>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Feitos {{ persona.totalPoints.feito }}pp
        </ion-card-header>
        <ion-card-content>
            <ion-chip *ngFor="let feito of persona.feitos">
              <ion-label>
                  {{ feito.nome }} {{ feito.graduacao }}pp                  
              </ion-label>
            </ion-chip>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          Pericias {{ persona.totalPoints.pericia }}pp
        </ion-card-header>
        <ion-card-content>
          <ion-chip *ngFor="let pericia of persona.pericias">
            <ion-label>
              {{ pericia.nome }} 
              <span *ngIf="persona.bonusPoints[pericia.habilidade_chave]">({{ (persona.bonusPoints[pericia.habilidade_chave] + pericia.graduacao)|truncateNumber }})</span>
              {{ pericia.graduacao }}pp                  
            </ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card> 

      <ion-card>
        <ion-card-header>
          Desvantagens -{{ persona.totalPoints.desvantagem }}pp
        </ion-card-header>
        <ion-card-content>
          <ion-chip *ngFor="let desvantagem of persona.desvantagens">
            <ion-label>
              {{ desvantagem.nome }} {{ desvantagem.graduacao }}pp                  
            </ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card> 

    </ion-card-content>
  </ion-card>
  <!--info-debug [obj]="persona"></info-debug-->
</ion-content>