<ion-header>
    <ion-toolbar>
        <ion-buttons right>
          <a ion-button (click)="close()">fechar</a>
        </ion-buttons>
        <ion-title>{{ persona.nome }}</ion-title> 
    </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ persona.nome}}</ion-card-title>
      Nível de campanha: {{ persona.np }}
      <br>
      Total de pontos: {{ total.all }}pp
    </ion-card-header>
    <ion-card-content>

      <ion-card>
        <ion-card-header>
          Habilidades {{ total.habilidade }}pp
        </ion-card-header>
        <ion-card-content>
          <ion-chip *ngFor="let abilityKey of abilityKeys">
            <ion-label>
              {{ abilityKey.label }} {{ persona[abilityKey.name] }}
              ({{ bonus[abilityKey.name]|truncateNumber }})
            </ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Combate {{ total.combate }}pp
        </ion-card-header>
        <ion-card-content>
          <ion-chip *ngFor="let combatKey of combatKeys">
            <ion-label>
              {{ combatKey.label }} ({{ bonus[combatKey.name]|truncateNumber }}) 
              {{ persona[combatKey.name] }}pp
            </ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Salvamentos {{ total.salvamento }}pp
        </ion-card-header>
        <ion-card-content>
          <ion-chip *ngFor="let savingKey of savingKeys">
            <ion-label>
              {{ savingKey.label }} ({{ bonus[savingKey.name]|truncateNumber }}) 
              {{ persona[savingKey.name] }}pp
            </ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card> 

      <ion-card>
        <ion-card-header>
          Poderes {{ total.poder }}pp
        </ion-card-header>
        <ion-card-content>
          <span *ngFor="let poder of persona.poderes">
            <ion-chip>
              <ion-label>{{ poder.nome }} {{ poder.graduacao }}</ion-label>
            </ion-chip>
            (<span *ngFor="let extra of poder.extras">
              {{ extra.nome }} +{{ extra.modificador }},
            </span>
            <span *ngFor="let falha of poder.falhas">
              {{ falha.nome }} -{{ falha.modificador }},
            </span>)
          </span>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Feitos {{ total.feito }}pp
        </ion-card-header>
        <ion-card-content>
            <ion-chip *ngFor="let feito of persona.feitos">
              <ion-label>
                  {{ feito.nome }} {{ feito.graduacao }}pp                  
              </ion-label>
            </ion-chip>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          Pericias {{ total.pericia }}pp
        </ion-card-header>
        <ion-card-content>
          <ion-chip *ngFor="let pericia of persona.pericias">
            <ion-label>
              {{ pericia.nome }} 
              <span *ngIf="bonus[pericia.habilidade_chave]">({{ (bonus[pericia.habilidade_chave] + pericia.graduacao)|truncateNumber }})</span>
              {{ pericia.graduacao }}pp                  
            </ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card> 

    </ion-card-content>
  </ion-card>
  <!--info-debug [obj]="persona"></info-debug-->
</ion-content>